<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - AI Resume Skill Gap Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-box">

    <div class="logo">🤖</div>

    <h1>Welcome!</h1>

    <h2>AI Resume Skill Gap Predictor</h2>

    <p>Upload your resume and discover your skill gaps.</p>

    <br>
<form action="/analyze" method="POST" enctype="multipart/form-data">

    <input type="file" name="resume" required>

    <br><br>

  <select name="job_role" required>
    <option value="">-- Select Job Role --</option>

    <optgroup label="Software & Development">
        <option>Software Engineer</option>
        <option>Python Developer</option>
        <option>Java Developer</option>
        <option>C/C++ Developer</option>
        <option>Full Stack Developer</option>
        <option>Frontend Developer</option>
        <option>Backend Developer</option>
        <option>Web Developer</option>
        <option>Mobile App Developer</option>
        <option>DevOps Engineer</option>
        <option>Software Tester / QA</option>
    </optgroup>

    <optgroup label="AI & Data">
        <option>AI Engineer</option>
        <option>AI/ML Engineer</option>
        <option>Machine Learning Engineer</option>
        <option>Data Scientist</option>
        <option>Data Analyst</option>
        <option>Data Engineer</option>
        <option>NLP Engineer</option>
        <option>Computer Vision Engineer</option>
    </optgroup>

    <optgroup label="Cybersecurity">
        <option>Cybersecurity Analyst</option>
        <option>Security Engineer</option>
        <option>Ethical Hacker</option>
        <option>SOC Analyst</option>
        <option>Information Security Analyst</option>
    </optgroup>

    <optgroup label="Cloud & Infrastructure">
        <option>Cloud Engineer</option>
        <option>Cloud Architect</option>
        <option>AWS Engineer</option>
        <option>System Administrator</option>
        <option>Network Engineer</option>
    </optgroup>

    <optgroup label="Design">
        <option>UI/UX Designer</option>
        <option>Graphic Designer</option>
        <option>Product Designer</option>
    </optgroup>

    <optgroup label="Business & Management">
        <option>Business Analyst</option>
        <option>Project Manager</option>
        <option>Product Manager</option>
        <option>Digital Marketing Specialist</option>
        <option>HR Specialist</option>
    </optgroup>

    <optgroup label="Finance">
        <option>Financial Analyst</option>
        <option>Accountant</option>
        <option>Banking Associate</option>
    </optgroup>

    <optgroup label="Engineering">
        <option>Electronics Engineer</option>
        <option>Mechanical Engineer</option>
        <option>Civil Engineer</option>
        <option>Biomedical Engineer</option>
    </optgroup>
</select>  

    <br><br>

    <button>Analyze Resume</button>

</div>

</body>
</html>