<!DOCTYPE html>
<html>
<head>
    <title>Signup - AI Resume Skill Gap Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-box">

    <div class="logo">🤖</div>

    <h1>Create Account</h1>

    <p>Join the AI Resume Skill Gap Predictor</p>

    <form method="POST">

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Create Password" required>

        <button type="submit">Signup</button>

    </form>

    <p class="signup">
        Already have an account? Login
    </p>

</div>

</body>
</html>